<style>
    .menubar {
        width: 20px;
        height: 3px;
        background-color: black;
        margin: 4px 0;
        border-radius: 15%;
    }
</style>


<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="#" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/images/brand-logo.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/images/brand-logo.png" alt="" height="17">
                    </span>
                </a>

                <a href="#" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="/images/brand-logo.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/images/brand-logo.png" alt="" height="45">
                    </span>
                </a>
            </div>
            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn">
                <div class="menubar"></div>
                <div class="menubar"></div>
                <div class="menubar"></div>
            </button>

        </div>
        <div class="dropdown d-none d-md-block ms-2">

            <h4> Welcome <%= result[0].username %></i></h4>
        </div>
        <div class="d-flex">





            <div class="dropdown d-inline-block">

                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="/assets/images/users/user-4.jpg"
                        alt="Header Avatar">
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i
                            class="mdi mdi-account-circle font-size-17 text-muted align-middle me-1"></i> Profile</a>
                    <a class="dropdown-item d-block" href="#"><span class="badge bg-success float-end">11</span><i
                            class="mdi mdi-cog font-size-17 text-muted align-middle me-1"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i
                            class="mdi mdi-lock-open-outline font-size-17 text-muted align-middle me-1"></i> Lock
                        screen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="/logout"><i
                            class="mdi mdi-power font-size-17 text-muted align-middle me-1 text-danger"></i> Logout</a>
                </div>
            </div>


        </div>
    </div>
</header>